<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин обуви{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    <script src="{% static 'js/filter.js' %}"></script>
</body>
</html>
